<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pedro.appbioplantas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.MenuActivity" />
        <activity android:name=".View.PerguntaActivity" />
        <activity android:name=".View.ResultadoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".View.Pergunta1Activity"
            android:label="@string/title_activity_pergunta1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.MenuUsuarioActivity" />
        <activity
            android:name=".View.LoginActivity"
            android:label="Login" />
        <activity
            android:name=".View.CadastroActivity"
            android:label="Cadastro" />
        <activity android:name=".View.PrimeiraChaveActivity" />
        <activity
            android:name=".View.DecisaoChavesActivity"
            android:label="@string/title_activity_decisao_chaves"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.MenuPrimeiraChaveActivity" />
        <activity android:name=".View.ChaveActivity"></activity>
    </application>

</manifest>